<div class="container">
    <div class="header">
        <h1>Repositories</h1>
        <input id="search2" type="text" placeholder="Repositories" [formControl]="titleKey">
        <select  [formControl]="languageKey">
            <option value="+language:javascript" selected="selected">javascript</option>
            <option value="+language:php" selected="selected">php</option>
        </select>
    </div>

    <table>
        <thead className="list_head">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr className="table-row" *ngFor="let repo of ( repositories$ | async)">
                <td>{{repo.index}}</td>
                <td>{{repo.title}}</td>
                <td>{{repo.author}}</td>
                <td>{{repo.description}}</td>
                <td><a routerLink="/detals/{{repo.id}}" routerLinkActive="active" class="link">More</a></td>
            </tr>
        </tbody>
    </table>
</div>

