.container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.header{
    margin-bottom: 30px;
    & select {
        margin: 0 7px;
    }
}
table {
    box-sizing: border-box;
    width: 100%;
    border-spacing: 0px;
    font-size: 16px;
    box-shadow: 1px 1px 5px 1px #00000052;
    & th {
        padding: 20px;
    }
    & tr {
        margin: 5px 0;
    }
  }

thead{
    background-color: #B1D4E0;
    border-spacing: 0;
    font-size: 18px;
}


.list_head {
    display: flex;
    border: 1px solid black;
    background-color: #B1D4E0;
}

tbody {
    & td {
        padding: 10px 0;
    }
}


.list p {
    padding: 0 10px;
    font-size: 18px;
}

.descript {
    flex: 1 1 auto;
}

.list_body {
    padding: 0;
}

.list_item {
    display: flex;
    box-sizing: border-box;
    
}

.list_item__name {
    width: 200px;
}

.list_item__author {
    width: 200px;
}

.link {
    color: #2E8BC0;
}
