<div class="details">
    <div class="title"><h1>{{item.title}}</h1></div>
    <div class="detals_header">
        <div class="detals_header__img"><img src="{{item.avatar}}" alt="avatar"></div>
        <div class="detals_header__item">
            <p><b>Author:</b> {{item.author}}</p>
            <p><b>Language:</b> {{item.language}}</p>
            <p><b>Url: </b> <a href="{{item.url}}" class="link">{{item.url}}</a></p>
        </div>
        <div class="detals_header__item">
            <p><b>Date create:</b> {{item.created_at}}</p>
            <p><b>Last update:</b> {{item.updated_at}}</p>
        </div>
    </div>
    <div class="detals_body">
        <p><b>Description:</b> {{item.description}}</p>
    </div>
</div>
